<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    <!-- DO NOT CHANGE -->
    <section name="DEFAULT" type="System.Configuration.NameValueSectionHandler" />
    <!-- END OF -->

    <!-- ADD MACHINES FOR CUSTOMISATION -->
    <section name="LINX037" type="System.Configuration.NameValueSectionHandler" />
    <!-- END OF -->
  </configSections>

  <!-- DO NOT CHANGE -->
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5" />
  </startup>
  <!-- END OF -->

  <!-- DEFAULTS FOR ALL MACHINES -->
  <DEFAULT>
    <add key="sqlconnection" value="connect_1" />
  </DEFAULT>
  <!-- END OF DEFAULTS -->

  <!-- FOLLOWING SETTINGS BELOW WILL OVERRIDE DEFAULT SETTINGS ABOVE -->

  <!-- DEVELOPMENT DESKTOP LINX HOUSE -->
  <LINX037>
    <add key="sqlconnection" value="connect_1" />
    <add key="debug" value="on" />
  </LINX037>


  <!--- FOLLOWING SETTINGS FOR SQL ACCESS -->
  <appSettings>
    <!-- SQL SERVER DB NAME DO NOT CHANGE -->
    <add key="linxdbname" value="linxmaster" />
    <add key="ClientSettingsProvider.ServiceUri" value="" />

    <!-- SQL Server User Id and Password is appended automatically on connectionstring if connection not trusted -->
    <!-- User is set up in SQL Server -->
    
    <!--
    <add key="SQLServerUserID" value="sa" />
    <add key="SQLServerPassword" value="zKkv2zHbagKtc92hMsPhKOY2uGt4CPc/" />
    -->
    <add key="SQLServerUserID" value="spares" />
    <add key="SQLServerPassword" value="u7P+ydTxaQBAykHio31Q5C9d3RWyn0x3qkm/CzhpMzs=" />  <!-- p7i0iqAprAt$ -->

    <!-- END OF SQL ACCESS -->

    <add key="rootfolder" value="\\STIVES1\PROD\Spares\TIJ cartridge labels" />  
<!--    <add key="rootfolder" value="F:\PROJECTS\LinxDevelopment\TIJ Labelling Spares Cell\TIJ cartridge labels" /> -->
    <add key="whereclause" value="PRODUCT IN ('FA59406','FA59407','FA59408','FA59301','FA59302','FA59303','FA11100') AND COUNTRY_LABEL IN ('ENGLISH','SPANISH','ITALIAN','PORTUGUESE','TURKISH','FINNISH','FRENCH')" />
    <add key="filelabel" value="WIP HP Cartridge processing,WIP LEXMARK Cartridge processing" />


    <!-- SQL SERVER CONFIGURATION for machines DO NOT CHANGE -->
  </appSettings>

  <connectionStrings>
    <add name="connect_1" connectionString="Provider=SQLOLEDB;Server=LNXDW1\SQLDW1;"  />
    <add name="connect_3" connectionString="Provider=SQLOLEDB;Server=LNXDW3\SQLDW3;Integrated Security=SSPI;"  />
    <add name="connect_2" connectionString="Provider=SQLOLEDB;Server=LNXDW2\SQLPROD;"  />
    <add name="connect_prod" connectionString="Provider=SQLOLEDB;Server=LNXDWPROD\SQLPROD;"  />
    <add name="connect_dev" connectionString="Provider=SQLOLEDB;Server=DELL790\SQL2017;Integrated Security=SSPI;"  />
  </connectionStrings>

  <system.web>
    <membership defaultProvider="ClientAuthenticationMembershipProvider">
      <providers>
        <add name="ClientAuthenticationMembershipProvider" type="System.Web.ClientServices.Providers.ClientFormsAuthenticationMembershipProvider, System.Web.Extensions, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" serviceUri="" />
      </providers>
    </membership>
    <roleManager defaultProvider="ClientRoleProvider" enabled="true">
      <providers>
        <add name="ClientRoleProvider" type="System.Web.ClientServices.Providers.ClientRoleProvider, System.Web.Extensions, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" serviceUri="" cacheTimeout="86400" />
      </providers>
    </roleManager>
  </system.web>
  <!-- END OF SERVER CONFIGURATION -->

</configuration>

